*{
	margin:0;
	padding:0;
	font-family: Arial, Tahoma, 'Times New Roman', sans-serif;
	color: #fff;
}

html {
	height: 100%;
}

h2 {
	text-align: center;
	padding: 20px;
}

/*Layout*/

.container {
	background-color: #eee;
	width:80%;
	height: 580px;
	margin: 0 auto;	
}

 header {
 	text-align: center;
	padding: 20px;
 	background-color: #27c2ab;
 	height: 200px;
 }

.wrapper1 {
	display: flex;
	height: 1000px;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-between;
	margin: 10px 0 10px 0;	
}

.wrapper2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	margin: 0 0 10px 0;	
}

main {
	background-color: #e36fb1;
	width: 64%;
	height: 645px;
	order: 3;
}

 .hero {
 	background-color: #8c96f5;
    width: 35%;
 	height: 345px;
 	order: 1;	
 }

 .sidebar {
 	background-color: #cc6d25;
 	width: 35%;
	height: 645px;
	order: 2;
 }

 .extra {
 	background-color: #94cc25;
 	width: 64%;
 	height: 345px;
 	order: 4;
 }

 .relatedimg {
 	background-color: #25b9cc;
 	width: 74%;
 	height: 250px;
 	order: 5;
 }

 .relatedposts {
 	background-color: #e6d167;
	width: 25%;
 	height: 250px;
 	order: 6;
 }

footer {   
	clear: both;
	height: 150px;
	background-color: #ccc625;
}
